*{
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    /* background-color: aquamarine; */
}
header{
    /* background-color: black; */
    /* color: #fff; */
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    text-align: center;
    
}

nav li {
    margin-right: 0px;

}

nav a {
    color: purple;
    text-decoration: none;
}

.services {
    display: flex;
    /* justify-content: space-between; */
gap: 3rem;
}

.service {
    padding: 3rem;
    background-color: brown;
    border-radius: 1px;
    max-width: 250px;
}
